<div class="login-container">
  <div class="login-card" [class.shake]="loginError">

    <div class="login-header">
      <div class="fona-logo-container">
    <img src="assets/img/logo_fona.png" alt="Logo FONA" class="login-logo-img">
  </div>
      <h1>FONA <span>Intranet</span></h1>
      <p>Gestión de Seguridad y Prevención</p>
    </div>

    <div class="auth-notice">
      <span class="notice-icon">ℹ️</span>
      <p>
        Use su <strong>correo institucional</strong> y contraseña del <strong>SIGH</strong>.
      </p>
    </div>

    <form (submit)="onLogin()" class="login-form">
      <div class="form-group">
        <label>Correo Institucional</label> <div class="input-wrapper">
          <span class="icon">✉️</span> <input type="email"
                 name="username"
                 [(ngModel)]="credentials.username"
                 [class.input-error]="loginError"
                 placeholder="usuario@fona.gob.ve"
                 required>

                 @if (isEmailValid) {
      <span class="valid-check shake-in">✅</span>
    }
        </div>
      </div>

      <div class="form-group">
        <label>Contraseña SIGH</label> <div class="input-wrapper">
          <span class="icon">🔒</span>
          <input type="password"
                 name="password"
                 [(ngModel)]="credentials.password"
                 [class.input-error]="loginError"
                 placeholder="••••••••"
                 required>
        </div>
      </div>

      @if (errorMessage) {
        <p class="error-text">{{ errorMessage }}</p>
      }

      <button type="submit" class="btn-primary" [disabled]="isLoading">
        @if (isLoading) { <span class="loader"></span> }
        @else { Iniciar Sesión }
      </button>
    </form>

    <div class="login-footer">
      <p>© 2026 Fondo Nacional Antidrogas</p>
      <span>Desarrollado por la Oficina de Tecnología (TIC)</span>
    </div>
  </div>
</div>
